/* Reset */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.hero-section {
  position: relative;
  height: 100vh;
  background: url('hero.jpg') center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.nav-link.active {
  border-bottom: 2px solid #fff;
}

.nav-link {
  position: relative;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}
.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: 0.3s;
}
.nav-link:hover::after {
  width: 100%;
}

.feature-icon img {
  height: 50px;
  margin-bottom: 10px;
}
